.albumcover{
  width: 200px;
}

body {
  background: url("https://hips.hearstapps.com/hmg-prod/images/thejoyofrummagingthroughrecordbins-index-1634329815.jpeg");
}

header {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2em;
  max-width: 100%;
}

header nav > a {
  margin: 0.2em;
  color: white;
  text-decoration: none;
}

header nav > a:hover {
  cursor: pointer;
}

header nav > a.active {
  color: gold;
  text-decoration: underline;
}


    .slideshow-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100vh; /* Adjust height as needed */
      object-fit: contain;
    }
    
    .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease;
    }
    
    .slide.active {
      opacity: 1;
    }

    .slide-images {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65vh;
      width: 80vw;
      object-fit: contain;
    }

    #homepage-button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20em;
      position: relative;
      margin-bottom: -35rem;
      box-shadow: 5px 5px 5px black;
      background-color: gold;
    }

    #homepage-button:hover {
      cursor: pointer;
    }


    .glow-on-hover {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      margin-bottom: -35rem;
  }
  
  .glow-on-hover:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }
  
  .glow-on-hover:active {
      color: #000
  }
  
  .glow-on-hover:active:after {
      background: transparent;
  }
  
  .glow-on-hover:hover:before {
      opacity: 1;
  }
  
  .glow-on-hover:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      left: 0;
      top: 0;
      border-radius: 10px;
  }
  
  @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20em;
  }











































































.records-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.records {
  border-radius: 8px;
  padding: 10px;
  text-decoration: none;
  max-width: 200px;
}

.records h1,
.records h2,
.records p {
  text-decoration: none;
}

.records h1 {
  font-size: 24px;
  margin-bottom: 3px;
}

.records h2 {
  font-size: 18px;
  margin-bottom: 3px;
}

.albumcover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 2px 3px 2px black;
}

.records p {
  margin: 5px 0;
  font-size: 16px;
}
